[Unit]
Description=Himusic YouTube-Import-Watcher
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/himusic-watcher
ExecStart=/usr/bin/node /home/opc/himusic-watcher/watch.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
